.page {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.navigation{
    display: flex;
    justify-content: space-between;
}

.blue-button {
    border: none;
    color: white;
    background-color: slateblue;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.blue-button:hover {
    background-color: rgb(80, 68, 157);
}

.pdf-button {
    border: none;
    color: white;
    background-color:red;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 20px;
}


.pdf-button:hover {
    background-color:rgb(165, 1, 1);
}

.table {
    margin: 70px auto 20px;
    width: 100%;
    border-collapse: collapse;
}

.table__caption {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 30px;
}

.table__cell {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.red-cell {
    background-color: red;
    color: white;
  }
  
.orange-cell {
  background-color: orange;
  color: white;
}

.pointer {
    cursor: pointer;
}